<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./index.css">
    <script>var controller = null;</script>

</head>

<body>
    <div id="cameraScreen"></div>
    <div id="controller"></div>
    <script>
        //var config = require('../../configure.json');
        try { var config = require('../../configure.json'); }
        catch (e) {
            //spawn settings
            createBrowserWindow();
            
        }


        //var headFile = '../../controllers/' + config.controllerName + '/Display/head.html';
        //var bodyFile = '../../controllers/' + config.controllerName + '/Display/body.html';

        //controller Setup
        let { setup } = require('./controller/' + config.controllerName + '/setup.js')
        setup();



        window.addEventListener('DOMContentLoaded', () => {
            const replaceText = (selector, text) => {
                const element = document.getElementById(selector)
                if (element) element.innerText = text
            }

            for (const type of ['chrome', 'node', 'electron']) {
                replaceText(`${type}-version`, process.versions[type])
            }
        });

        function createBrowserWindow() {
            const { BrowserWindow } = require('@electron/remote');
            const win = new BrowserWindow({
                height: 600,
                width: 800, webPreferences: {
                    nodeIntegration: true,
                    contextIsolation: false,
                    enableRemoteModule: true
                }
            });
            win.loadFile('./Views/Settings/settings.html');
            win.on('close', (event) => {window.location.reload();});
            win.once('ready-to-show', () => { win.show(); });
        }
    </script>
</body>

</html>