<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./index.css">
    <script>var controller = null;</script>

</head>

<body>
    <h1>Set up your system by going to: File > Setup</h1>
    <script>
        var config = require('../../configure.json');
        var headFile = '../../controllers/' + config.controllerName + '/Display/head.html';
        var bodyFile = '../../controllers/' + config.controllerName + '/Display/body.html';
        var httpHead = new XMLHttpRequest();
        httpHead.onreadystatechange = () => {
            if (httpHead.readyState == 4) {
                if (httpHead.status == 200) { document.head.innerHTML = httpHead.responseText }
            }
        }
        httpHead.open("GET", headFile);
        httpHead.send();

        var httpBody = new XMLHttpRequest();
        httpBody.onreadystatechange = () => {
            if (httpBody.readyState == 4) {
                if (httpBody.status == 200) { document.body.innerHTML = httpBody.responseText }
                const Controller = require('../../controllers/' + config.controllerName + '/Driver/controller.js');
                controller = new Controller();
                controller.startup();
            }
        }
        httpBody.open('GET', bodyFile);
        httpBody.send();



        window.addEventListener('DOMContentLoaded', () => {
            const replaceText = (selector, text) => {
                const element = document.getElementById(selector)
                if (element) element.innerText = text
            }

            for (const type of ['chrome', 'node', 'electron']) {
                replaceText(`${type}-version`, process.versions[type])
            }
        });


        function checkConfig(){

        }
    </script>
</body>

</html>