body { background-color: #001aff; color: white}

.Button{
  padding: .25em 1em;
  margin: .5em;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
}

.PowerButton{
  float: center;
  border: 2px solid #fff;
}

.PowerButtonOff{
  background-color: #F00;
}

.PowerButtonOn{
  background-color: #0F0;
}

.ControllerButton{
  border-radius: 6px;
  color: #fff;
}

.ControllerButtonUnpressed{
  background-color: #bbb;
}

.ControllerButtonPressed{
  background: orange;
  box-shadow: 0px 0px 1px #777;
}



.twoColumn{
  float: left;
  width: 50%;
  position: relative;
}

.threeColumn{
  float: left;
  width: 33.33%;
  position: relative;
}

.ControlStickDisplay{
  margin-top: 50px;
  position: absolute;
}

.OutsideBox{
  border-radius: 25px;
  background: #000;
  border: 1px solid #fff;
  width: 200px;
  height: 200px;
  position: absolute;
}

.InsideBox{
  position: absolute;
  border-radius: 25px;
  border: 1px dashed #fff;
  width: 100px;
  height: 100px;
  top: 25%;
  left: 25%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #F00;
  border-radius: 50%;
  display: inline-block;
  top: 87.5px;
  left: 87.5px;
  position: absolute;
}